<div class="date-time-picker">
  <div class="slider-container s-text gray-1-color">
    <ng-container *ngIf="showDate">
      <div #daysSlider class="keen-slider">
        <div *ngFor="let day of days.values; let i = index" class="keen-slider__slide"
             [class.selected]="sliders.days?.track?.details?.rel === i">{{ day }}
        </div>
      </div>
      <div #monthsSlider class="keen-slider">
        <div *ngFor="let month of months.values; let i = index" class="keen-slider__slide"
             [class.selected]="sliders.months?.track?.details?.rel === i">{{ month }}
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="showTime">
      <div #hoursSlider class="keen-slider">
        <div *ngFor="let hour of hours.values; let i = index" class="keen-slider__slide"
             [class.selected]="sliders.hours?.track?.details?.rel === i">{{ hour }}
        </div>
      </div>
      <div #minutesSlider class="keen-slider">
        <div *ngFor="let minute of minutes.values; let i = index" class="keen-slider__slide"
             [class.selected]="sliders.minutes?.track?.details?.rel === i">{{ minute }}
        </div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="showDate" class="year-selector gray-1-color">
    <mat-icon svgIcon="left-arrow-2" class="s-svg-icon clickable-m-icon" (click)="changeYear(-1)"></mat-icon>
    <span class="s-text">{{ currentYear }}</span>
    <mat-icon svgIcon="right-arrow" class="s-svg-icon clickable-m-icon" (click)="changeYear(1)"></mat-icon>
  </div>
</div>
