.body-weight-measures-container {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  padding-top: var(--container-padding);
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: linear-gradient(274deg, var(--primary-1) 0%, var(--primary-2) 100%);

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--l-size);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    color: white;
  }

  &-body {
    border-radius: 24px;
    background-color: var(--background);
    padding: var(--s-size) var(--container-padding) var(--l-size);
    padding-bottom: 20rem;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
      display: none;
    }

    .responsive-table {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;

      .table-header, .table-row {
        display: contents;
      }

      .table-header > div, .table-row > div {
        padding: 10px 6px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .table-header > div {
        font-weight: bold;
      }

      .table-body {
        display: contents;
      }
    }

    .status-icon {
      scale: 0.7;
    }

    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--m-size);
    }
  }

  .body-weight-trend-area-chart {
    height: 14rem;
    margin: -10px 7px -10px -20px;
  }
}
