.body-weight-measures-container {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  padding-top: var(--container-padding);
  // padding-bottom: var(--l-size);
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: linear-gradient(274deg, var(--primary-1) 0%, var(--primary-2) 100%);
  // padding-bottom: 10rem;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--m-size);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    color: white;
  }

  &-body {
    border-radius: 24px;
    background-color: var(--background);
    padding: var(--s-size) var(--container-padding) var(--l-size);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
      display: none;
    }


    table tbody {
      display: block;
      max-height: calc(100% - 10rem);
    }

    table thead, table tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    .responsive-table {
      width: 100%;

      th {
        padding: 0.25rem;
      }

      tr {
        width: 100%;
      }

      td {
        padding: 0.25rem;
        text-align: center;
        width: 33%;
        text-wrap: nowrap;
      }

      .status-icon {
        padding: 3px;
        margin-bottom: -7px;
      }
    }
  }

  .body-weight-trend-area-chart {
    height: 14rem;
    margin: -10px 7px -10px -20px;
  }
}
