.context-menu {
  position: absolute;
  background-color: white;
  border-radius: 12px;
  z-index: 100;
  font-family: 'Poppins', sans-serif;
  transition: opacity var(--animation-duration) ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .item {
    padding: 0.419rem 0.938rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 0.3rem;

    &:hover {
      background-color: var(--border);
      scale: var(--hover-scale);
    }

    &:active {
      scale: var(--active-scale);
    }
  }

  .item:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 0.938rem 0.938rem 0.419rem 0.938rem;
  }

  .item:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0.419rem 0.938rem 0.938rem 0.938rem;
  }
}

