.weight-card {
  border-radius: 16px;
  display: flex;
  flex-direction: column;

  .weight-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--m-size);
    padding-bottom: var(--l-size);

    .actions {
      display: flex;
      gap: 1.2rem;
    }
  }

  .weight-trend-area-chart {
    height: 14rem;
    margin-left: -26px;
    margin-top: -14px;
    margin-bottom: -14px;
  }
}


