<div class="card-shadow weight-card">
  <div class="weight-card-header">
    <div class="current-weight m-text">
      <span class="semi-bold">Body Weight: </span>
      <span class="semi-bold primary">{{ currentWeightMeasure?.value + ' kg' }}</span>
    </div>
    <div class="actions m-text gray-1-color">
      <mat-icon svgIcon="add-circle" class="clickable primary m-svg-icon" (click)="track()" title="Track"></mat-icon>
      <mat-icon svgIcon="library" class="clickable primary m-svg-icon" (click)="openBodyWeightMeasuresPage()"
                title="History"></mat-icon>
    </div>
  </div>
  <div class="weight-trend-area-chart" *ngIf="series.length > 1">
    <ngx-charts-area-chart
      [scheme]="colorScheme"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [animations]="true"
      [xAxis]="true"
      [yAxis]="true"
      [showGridLines]="false"
      [xAxisTickFormatting]="xAxisTickFormatting"
      [yAxisTickFormatting]="yAxisTickFormatting"
      [gradient]="false"
      [curve]="curve"
      [yScaleMin]="minYValue"
      [results]="dataset">
    </ngx-charts-area-chart>
  </div>

  <app-body-weight-measures></app-body-weight-measures>
  <app-update-weight-modal #updateWeightModal></app-update-weight-modal>
</div>
