.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: white;
  gap: var(--l-size);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .login-container-header {
    text-align: center;
    padding: 0 var(--l-size);
    padding-top: var(--l-size);
  }

  .login-container-body {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--m-size);
    padding: 0 var(--l-size);

    app-icon-input, app-toast {
      width: 100%;
    }
  }

  .login-container-footer {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--m-size);
    padding: 0 var(--l-size);
    padding-bottom: calc(var(--l-size) + env(safe-area-inset-bottom, 0px));

    .divider {
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--gray-1);

      &::before,
      &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid var(--gray-1);
      }

      &::before {
        margin-right: 10px;
      }

      &::after {
        margin-left: 10px;
      }
    }

    .social {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .error-message {
    text-align: left;
    padding-left: 3rem;
    width: 100%;
    color: var(--danger);
  }
}
