.workout-history-details-container {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  padding-top: var(--container-padding);
  padding-bottom: var(--l-size);
  overflow-y: hidden;
  overflow-x: hidden;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--m-size);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  &-body {
    height: 100%;
    padding-bottom: var(--l-size);
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
      display: none;
    }

    .workout-history-details-container-view {
      padding-bottom: var(--l-size);

      .workout-workout-details {
        padding-top: var(--m-size);
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);

        .metric-card {
          height: 4.063rem;
          width: 6.938rem;
        }
      }

      .status-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 0.3s ease;
        padding: 4px;

        &.pr {
          color: var(--primary-1);
        }

        &.better {
          color: var(--success);
        }

        &.worse {
          color: var(--danger);
        }
      }

      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 var(--primary-2);
        }
        70% {
          box-shadow: 0 0 0 10px rgba(255, 215, 0, 0);
        }
        100% {
          box-shadow: 0 0 0 0 rgba(255, 215, 0, 0);
        }
      }

    }

    .workout-history-details-container-edit-view {
      padding: var(--m-size) var(--container-padding) var(--l-size);

      .workout-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        .workout-title-input {
          width: 100%;
          border-radius: 8px;
          border: none;
          background-color: var(--border);
          outline: none;
          padding: 0.34rem var(--m-size);
          font-weight: 550;
          font-family: 'Poppins', sans-serif;

          &::placeholder {
            color: var(--gray-2);
            font-weight: 400;
          }
        }

        .workout-title-input-invalid {
          &::placeholder {
            color: var(--danger) !important;
          }
        }
      }

    }

    .exercises {
      overflow-y: hidden;
      overflow-x: hidden;

      .exercise-sets {
        width: 100%;
        display: flex;
        flex-direction: column;

        .table-row {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding-top: 0.28rem;
          padding-bottom: 0.28rem;
          animation: completed var(--animation-duration) cubic-bezier(0.35, 0, 0.25, 1);

          .set {
            flex: 1 1 0;
            text-align: start;
          }

          .set-sell {
            padding-left: 0.5rem;
          }

          .action {
            flex: 1 1 0;
            display: flex;
            justify-content: end;
            align-items: center;
            width: 100%;

            .action-icon-container {
              display: flex;
              align-items: center;
              justify-content: end;
            }

            .action-icon {
              height: 30px;
              width: 30px;
              padding: 0.34rem;
              border-radius: 6px;
              background-color: var(--border);
            }

            .delete-icon {
              height: 30px;
              width: 30px;
              padding: 0.34rem;
              color: var(--danger);
              animation: completed var(--animation-duration) cubic-bezier(0.35, 0, 0.25, 1);
            }

            .complete-set-action-icon {
              height: 30px;
              width: 30px;
              padding: 0.34rem;
              background-color: var(--primary-1);
              color: white;
              animation: completed var(--animation-duration) cubic-bezier(0.35, 0, 0.25, 1);
            }
          }

          .kg {
            flex: 2 1 0;
            text-align: center;
          }

          .reps {
            flex: 2 1 0;
            text-align: center;
          }

          .previous {
            flex: 3 1 0;
            text-align: center;
          }

        }

        .table-cell {
          flex: 1;
          text-align: left;
        }

        .completed-table-cell {
          color: var(--primary-1);
          font-weight: 550;
          animation: completed var(--animation-duration) cubic-bezier(0.35, 0, 0.25, 1);
        }

        .add-new-set {
          width: 100%;
          background-color: var(--border);
          border-radius: 8px;
          text-align: center;
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
          margin-top: 0.5rem;
          cursor: pointer;

          &:active {
            scale: var(--active-scale);
          }
        }
      }

      .exercise-divider {
        width: 100%;
        background-color: var(--border);
        border-radius: 8px;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
      }
    }

    .add-new-exercise {
      width: 100%;
      color: white;
      border-radius: 8px;
      text-align: center;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      margin-top: 0.438rem;
      cursor: pointer;

      &:active {
        scale: var(--active-scale);
      }
    }
  }

  input {
    width: 80%;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: var(--border);
    outline: none;
    padding-top: 0.34rem;
    padding-bottom: 0.34rem;
    font-size: var(--input-font-size);
    font-weight: 550;
    font-family: 'Poppins', sans-serif;
  }

  input::placeholder {
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
  }

  .complete-set-input {
    background-color: var(--primary-1);
    color: white;
    animation: completed var(--animation-duration) cubic-bezier(0.35, 0, 0.25, 1);
  }

  .complete-set-input::placeholder {
    color: white;
  }
}

.exercise {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--m-size);
  gap: 0.5rem;
  width: 100%;

  .exercise-info {
    display: flex;
    gap: 0.5rem;

    .exercise-header {
      cursor: pointer;

      .exercise-image {
        height: 3.75rem;
        width: 3.75rem;
        border-radius: 16px;
      }
    }

    .exercise-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .upper-section {
        width: 100%;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
      }

      .lower-section {
        width: 100%;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: space-between;
      }

      .pr-set {
        display: flex;
        align-items: center;

        .pr-set-icon {
          scale: 0.56;
        }
      }
    }
  }

  .exercise-info-draggable {
    cursor: grab;
  }
}

.cdk-drag-preview {
  cursor: grab;
}

.cdk-drag-placeholder {
  cursor: grab;
  opacity: 0;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform var(--animation-duration) ease;
}
