<div class="workout-history-widget blue-shadow primary-background" @fadeInOut [@.disabled]="disableAnimation">
  <div class="workout-history-widget-header">
    <div class="m-text semi-bold white-color">{{ workout.title }}</div>
  </div>
  <div class="workout-history-widget-body s-text white-color">
    <div class="last-workout-details">
      <div>
        <span>{{ workout.prReps }} PRs | </span>
        <span>{{ workout.totalWeight }} kg | </span>
        <span>{{ workout.getWorkoutDuration() + ' min'}}</span>
      </div>
    </div>
    <div class="last-workout-time caption">
      <mat-icon svgIcon="clock" class="last-workout-time-icon"></mat-icon>
      <div>{{ workout.startTime | timeAgo }}</div>
    </div>
  </div>
  <div class="workout-history-widget-footer">
    <app-medium-button [classes]="['white-background', 'black-color']"
                       [textClasses]="['primary-background', 'primary-background-text', 'semi-bold']"
                       name="View details"
                       (click)="openWorkoutHistoryDetails(workout)"></app-medium-button>
  </div>

</div>
