.workout-history-widget {
  display: flex;
  flex-direction: column;
  margin-top: var(--m-size);
  padding: var(--m-size);
  border-radius: 20px;

  .workout-history-widget-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .workout-history-widget-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    .last-workout-details {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;

      .workout-metrics {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }

    .last-workout-time {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      margin-left: -5px;

      .last-workout-time-icon {
        scale: 0.59;
      }
    }
  }

  .workout-history-widget-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: var(--m-size);
    padding-top: var(--m-size);

    app-medium-button {
      width: 7.2rem;
    }
  }
}
