.network-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--container-padding);
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);

  .network-message-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--s-size);
  }
}
