.progress-container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: var(--m-size);

  &::-webkit-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: none;
  }

  .progress-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--s-size);

  }

  .progress-container-body {

  }
}
