.workout-template-details-container {
  height: 100vh;
  width: 100%;
  max-width: 1024px;
  padding-top: 1.875rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  overflow-y: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .workout-template-details {
    padding-top: 1.875rem;

    .info-cards {
      display: flex;
      flex-direction: row;
      padding-top: 0.938rem;
      gap: 0.938rem;
      align-items: center;
      justify-content: center;
      background-color: white;

      .info-card {
        height: 5rem;
        width: 10rem;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          scale: var(--hover-scale);
        }

        &:active {
          scale: var(--active-scale);
        }

        .trend-value {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .exercises-list-container {
    padding-top: 1.875rem;

    .exercise {
      display: flex;
      gap: 0.5rem;
      padding-top: 0.938rem;
      width: 100%;
      cursor: pointer;

      .exercise-header {

        .exercise-image {
          height: 3.75rem;
          width: 3.75rem;
          border-radius: 16px;
        }
      }

      .exercise-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .upper-section {
          width: 100%;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          justify-content: space-between;
        }

        .lower-section {
          width: 100%;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          justify-content: space-between;
        }

        .pr-set {
          display: flex;
          align-items: center;

          .pr-set-icon {
            scale: 0.56;
          }
        }
      }
    }
  }

  app-button {
    width: 100%;
    max-width: 1024px;
    position: fixed;
    bottom: 1.875rem;
    left: 0;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

.overflowing {
  padding-bottom: 7rem;
}
