<div class="page-mask" *ngIf="isOpen" [@fadeInOut]></div>
<div class="workout-template-details-container right-modal black-color" *ngIf="isOpen" [@sideModalOpenClose]
     (swiperight)="onSwipeRight()">
  <div class="workout-template-details-container-header">
    <app-header-button icon="left-arrow" (click)="closeModal()"></app-header-button>
    <app-header-button icon="two-dots" (click)="openTemplateMenu($event)"></app-header-button>
  </div>

  <div class="workout-template-details-container-body">

    <div class="workout-template-details">
      <div class="subtitle semi-bold">
        {{ template.title }}
      </div>
      <div class="s-text gray-1-color">
        {{ template.exercises.length }} exercises | {{ template.totalSets }} sets | {{ template.estimatedDuration }} min
      </div>
      <div class="tags s-text card-padding-top" *ngIf="template.tags.length > 0">
        <div class="tag" *ngFor="let tag of template.tags">{{ tag.name }}</div>
      </div>
      <div class="info-cards s-text" *ngIf="template.lastPerformedWorkout">
        <div class="info-card card-shadow">
          <div class="semi-bold">
            {{ template.lastPerformedWorkout.duration }}
          </div>
          <div class="semi-bold">
            {{ template.lastPerformedWorkout.date | timeAgo }}
          </div>
          <div class="gray-1-color">
            Last performed
          </div>
        </div>
        <div class="info-card card-shadow">
          <div class="semi-bold success trend-value">
            <div class="success">{{ template.volumeTrend.percentage }} %</div>
          </div>
          <div class="semi-bold success trend-value">
            <div class="success">{{ template.volumeTrend.value }}</div>
          </div>
          <div class="gray-1-color">
            Volume trend
          </div>
        </div>
      </div>
    </div>

    <div class="exercises-list-container">
      <div class="exercises">
        <div *ngIf="template.exercises.length === 0" class="s-text gray-1-color">Note: no exercises has been added to the template.<br> You can add exercises
          by editing current template or starting workout and adding new exercises there.
        </div>
        <div class="exercise" *ngFor="let exercise of template.exercises">
          <div class="exercise-header">
            <div class="exercise-image secondary-background"></div>
          </div>
          <div class="exercise-body">
            <div class="upper-section">
              <div class="m-text semi-bold">{{ exercise.name }}</div>
              <div class="gray-1-color s-text p-b-4">
                {{ exercise.sets.length }} {{ exercise.sets.length > 1 ? 'sets' : 'set' }}
              </div>
            </div>
            <div class="lower-section gray-1-color s-text">
              <div>{{ getBodyPartDisplayName(exercise.bodyPart) }} | {{ getCategoryDisplayName(exercise.category) }}
              </div>
              <div class="pr-set" *ngIf="exercise.prSet">
                <mat-icon svgIcon="cup" class="pr-set-icon"></mat-icon>
                <div>
                  {{ exercise.prSet.weight }} kg * {{ exercise.prSet.reps }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-button name="Start Workout" [textClasses]="['white-color', 'semi-bold']" (click)="startWorkout()"></app-button>
  </div>

  <app-ongoing-workout></app-ongoing-workout>

  <app-workout-template-edit #workoutTemplateEditComponent
                             (updatedTemplate)="onTemplateUpdated($event)"></app-workout-template-edit>

  <app-context-menu #templateMenu [menuItems]="templateMenuItems"></app-context-menu>
</div>
