.header-button-container {
  border-radius: 8px;
  background-color: var(--border);
  height: 2.1rem;
  width: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    scale: var(--hover-scale);
  }

  &:active {
    scale: var(--active-scale);
  }

  .button-icon {
    scale: 0.6;
    color: var(--black);
  }
}

.active-button {
  background-image: linear-gradient(274deg, var(--primary-1) 0%, var(--primary-2) 100%);
}

.active-button-icon {
  color: white !important;
}

.text-button-paddings {
  width: fit-content;
  padding: 0.2rem 1rem;
}
