.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 20rem;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  gap: var(--m-size);
  padding: var(--m-size) var(--l-size);

  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--m-size);
    padding-top: 0.3rem
  }
}
