.dashboard-container {

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .welcome-box {
      .welcome-back {
        padding-bottom: 2px;
      }
    }

    .notifications {
      .notification-icon-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 2.4rem;
        width: 2.4rem;
        background-color: var(--border);
        border-radius: 10px;
      }

      .notification-count {
        position: absolute;
        top: 11px;
        right: 12px;
        width: 5px;
        height: 5px;
        background-color: var(--danger);
        border-radius: 50%;
      }
    }
  }

  &-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--l-size);

    .last-workout-container {

      .last-workout-container-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .exercises-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: var(--secondary-1);
      color: white;
      border-radius: 20px;
      padding: var(--m-size);

      .exercises-card-button {
        width: 7.2rem;
      }
    }
  }

}
