<div class="dashboard-container container">

  <div class="dashboard-container-header">
    <div class="welcome-box">
      <div class="gray-1-color s-text welcome-back">Welcome back</div>
      <h2 class="semi-bold l-text">Vitalii Stefanchak</h2>
    </div>
    <div class="notifications">
      <div class="notification-icon-container clickable" (click)="openNotifications()">
        <mat-icon svgIcon="notification" class="m-svg-icon"></mat-icon>
        <div class="notification-count"></div>
      </div>
    </div>
  </div>

  <div class="dashboard-container-body section-padding-top">

    <div class="last-workout-container">
      <div class="last-workout-container-header">
        <div class="m-text semi-bold">Suggested Workout</div>
        <div class="gray-1-color s-text clickable" (click)="openWorkoutTemplatesPage()">See more</div>
      </div>

      <div class="last-workout-container-body">
        <app-workout-template-widget [workoutTemplate]="suggestedWorkoutTemplate"></app-workout-template-widget>
      </div>
    </div>

    <div class="last-workout-container card-padding-top">
      <div class="last-workout-container-header">
        <div class="m-text semi-bold">Latest Workout</div>
        <div class="gray-1-color s-text clickable" (click)="openWorkoutHistoryPage()">See more</div>
      </div>

      <div class="last-workout-container-body">
        <app-latest-workout-widget [workout]="latestWorkoutHistory"></app-latest-workout-widget>
      </div>
    </div>
  </div>

  <app-workout-template-details></app-workout-template-details>

  <app-ongoing-workout></app-ongoing-workout>

</div>

