.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  width: 100%;
  max-width: 1024px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: auto;
  position: fixed;
  bottom: 0;
  background-color: white;

  .nav-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    gap: 4px;
    color: var(--gray-2);

    &:hover {
      scale: var(--hover-scale);
    }

    &:active {
      scale: var(--active-scale);
    }

    .active-nav-icon {
      margin-top: 8px;
      color: var(--secondary-3);
      transition: color var(--animation-duration) ease-in-out;
    }

    .active-dot {
      background-color: var(--secondary-3);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin-left: 4px;
      margin-right: 4px;
      transition: background-color 3s ease-in-out;
    }

    .profile-icon {
      scale: 0.82;
    }
  }

  .main-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    scale: 1.8;
    cursor: pointer;
    background: linear-gradient(274deg, var(--primary-1) 0%, var(--primary-2) 100%);

    &:hover {
      scale: 1.83;
    }

    &:active {
      scale: 1.77;
    }
  }

  .active-main-action-container {
    background-image: linear-gradient(274deg, var(--secondary-1) 0%, var(--secondary-2) 100%);
  }
}


