<div class="profile-container container black-color">

  <div class="profile-container-header">
    <app-header-button icon="left-arrow" class="not-visible"></app-header-button>
    <b class="l-text">Profile</b>
    <app-header-button icon="two-dots" (click)="openProfileMenu($event)"></app-header-button>
  </div>

  <div class="profile-info-container">
    <div class="profile-info">
      <div class="profile-info-header">
        <div class="profile-image secondary-background"></div>
        <div class="profile-name-container">
          <div class="profile-name m-text">Vitalii Stefanchak</div>
          <div class="user-progress s-text">You're getting stronger!</div>
        </div>
      </div>
      <div class="profile-edit-button">
        <app-medium-button name="Edit" [classes]="['primary-background', 'white-color']"></app-medium-button>
      </div>
    </div>

    <div class="metrics-container">
      <div class="metric-card card-shadow">
        <div class="primary-background m-text primary-background-text"><b>186 cm</b></div>
        <div class="gray-1-color s-text">Height</div>
      </div>
      <div class="metric-card card-shadow">
        <div class="primary-background m-text primary-background-text"><b>90 kg</b></div>
        <div class="gray-1-color s-text">Weight</div>
      </div>
      <div class="metric-card card-shadow">
        <div class="primary-background m-text primary-background-text"><b>24 yo</b></div>
        <div class="gray-1-color s-text">Age</div>
      </div>
    </div>

    <div class="profile-card-container card-shadow section-margin-top">
      <div class="l-text semi-bold">Account</div>
      <div class="card-items">
        <div class="card-item">
          <div class="card-item-header">
            <mat-icon svgIcon="persona" class="m-svg-icon"></mat-icon>
            <div class="s-text gray-1-color">Settings</div>
          </div>
          <mat-icon svgIcon="right-arrow" class="s-svg-icon gray-1-color"></mat-icon>
        </div>
        <div class="card-item">
          <div class="card-item-header">
            <mat-icon svgIcon="list" class="m-svg-icon"></mat-icon>
            <div class="s-text gray-1-color">Achievements</div>
          </div>
          <mat-icon svgIcon="right-arrow" class="s-svg-icon gray-1-color"></mat-icon>
        </div>
        <div class="card-item" (click)="openWorkoutHistoryPage()">
          <div class="card-item-header">
            <mat-icon svgIcon="statistics" class="m-svg-icon"></mat-icon>
            <div class="s-text gray-1-color">Workout history</div>
          </div>
          <mat-icon svgIcon="right-arrow" class="s-svg-icon gray-1-color"></mat-icon>
        </div>
      </div>
    </div>

    <div class="profile-card-container card-shadow">
      <div class="l-text semi-bold">Other</div>
      <div class="card-items">
        <div class="card-item">
          <div class="card-item-header">
            <mat-icon svgIcon="notification" class="m-svg-icon"></mat-icon>
            <div class="s-text gray-1-color">Notifications</div>
          </div>
          <mat-icon svgIcon="right-arrow" class="s-svg-icon gray-1-color"></mat-icon>
        </div>
        <div class="card-item">
          <div class="card-item-header">
            <mat-icon svgIcon="settings" class="m-svg-icon"></mat-icon>
            <div class="s-text gray-1-color">Settings</div>
          </div>
          <mat-icon svgIcon="right-arrow" class="s-svg-icon gray-1-color"></mat-icon>
        </div>
      </div>
    </div>
  </div>

  <app-context-menu #profileMenu [menuItems]="profileMenuItems"></app-context-menu>

</div>
