.profile-container {

  .profile-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .profile-info-container {
    padding-top: var(--l-size);

    .profile-info {
      display: flex;
      flex-direction: row;
      gap: var(--m-size);
      justify-content: space-between;
      align-items: center;

      .profile-info-header {
        display: flex;
        flex-direction: row;
        gap: var(--m-size);
        align-items: center;

        .profile-image {
          width: 3.438rem;
          height: 3.438rem;
          border-radius: 50%;
          object-fit: cover;
        }

        .profile-name {
          font-weight: 500;
        }
      }

      .profile-edit-button {
        width: 5rem;
      }
    }

    .user-metrics-container {
      display: flex;
      flex-direction: row;
      padding-top: var(--m-size);
      gap: var(--m-size);
      align-items: center;
      justify-content: center;

      .metric-card {
        height: 4.063rem;
        width: 5.938rem;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          scale: var(--hover-scale);
        }

        &:active {
          scale: var(--active-scale);
        }
      }
    }

    .profile-card-container {
      display: flex;
      flex-direction: column;
      margin-top: var(--m-size);
      padding: var(--m-size);
      border-radius: 16px;

      .card-items {
        display: flex;
        flex-direction: column;
        padding-top: var(--m-size);
        gap: 0.55rem;

        .card-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;

          .card-item-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.55rem;
          }
        }
      }
    }

  }
}
