<div class="page-mask" *ngIf="isOpen" [@fadeInOut]></div>
<div class="exercises-container right-modal black-color" *ngIf="isOpen" [@sideModalOpenClose]
     (swiperight)="onSwipeRight()">

  <div class="exercises-container-header">
    <app-header-button icon="left-arrow" (click)="close()"></app-header-button>
    <div class="actions">
      <app-header-button [text]="'Create'" class="s-text gray-1-color"
                         (click)="openAddExerciseModal()"></app-header-button>
      <app-header-button *ngIf="isAddModal" [text]="'Add'" class="s-text gray-1-color"
                         [ngClass]="{'primary' : selectedExercises.size > 0, 'semi-bold': selectedExercises.size > 0}"
                         (click)="addExercises()"></app-header-button>
      <app-header-button *ngIf="isReplaceModal" [text]="'Replace'" class="s-text gray-1-color"
                         [ngClass]="{'primary' : selectedExercises.size == 1, 'semi-bold': selectedExercises.size == 1}"
                         (click)="replaceExercises()"></app-header-button>
    </div>
  </div>

  <div class="exercises-search-section card-padding-top">
    <div class="search card-shadow m-text">
      <mat-icon svgIcon="search" class="gray-2-color l-svg-icon clickable-l-icon" (click)="search()"></mat-icon>
      <input placeholder="Search exercises" [(ngModel)]="searchQuery" (keyup)="search()">
      <mat-icon svgIcon="options" class="l-svg-icon clickable-l-icon" (click)="openSearchOptions()"></mat-icon>
      <mat-icon svgIcon="clear" class="gray-2-color l-svg-icon clickable-l-icon" (click)="clearSearch()"></mat-icon>
    </div>

    <div class="search-options s-text gray-1-color" *ngIf="isSearchOptionsOpen" [@collapse]>
      <div class="search-option card-shadow clickable" (click)="openBodyPartSelectionModal($event)"
           [class.search-option-active]='bodyPart'>{{ bodyPart ? getBodyPartDisplayName(bodyPart) : 'Any body part' }}
      </div>
      <div class="search-option card-shadow clickable" (click)="openCategorySelectionModal($event)"
           [class.search-option-active]='category'>{{ category ? getCategoryDisplayName(category) : 'Any category' }}
      </div>
    </div>

  </div>

  <div class="exercises-container-body" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150"
       [scrollWindow]="false" (scrolled)="loadMore()">

    <div class="exercise" *ngFor="let exercise of exercises" [@collapseEnter]>
      <div class="exercise-header">
        <div class="exercise-image secondary-background"></div>
      </div>
      <div class="exercise-body">
        <div class="upper-section">
          <div class="m-text semi-bold">{{ exercise.name }}</div>
          <div *ngIf="isAddModal" class="clickable add-icon-container">
            <mat-icon svgIcon="check" class="gray-1-color add-icon"
                      [class.active-add-icon]="selectedExercises.has(exercise)"
                      (click)="addExercise(exercise)"></mat-icon>
          </div>
          <div *ngIf="isReplaceModal" class="clickable add-icon-container">
            <mat-icon svgIcon="check" class="gray-1-color add-icon"
                      [class.active-add-icon]="selectedExercises.has(exercise)"
                      (click)="replaceExercise(exercise)"></mat-icon>
          </div>
          <div *ngIf="!isAddModal && !isReplaceModal" >
            <app-action-button icon='two-dots' iconClasses="xs-svg-icon"
                               (click)="showExercisesMenu($event, exercise)"></app-action-button>
          </div>
        </div>
        <div class="lower-section gray-1-color s-text">
          <div>{{ getBodyPartDisplayName(exercise.bodyPart) }} | {{ getCategoryDisplayName(exercise.category) }}</div>
          <div class="pr-set" *ngIf="exercise.prSet">
            <mat-icon svgIcon="cup" class="pr-set-icon"></mat-icon>
            <div>
              {{ exercise.prSet.weight }} kg * {{ exercise.prSet.reps }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-selection-menu #bodyPartSelectionMenu
                      (selectedItemSelected)="onBodyPartItemSelected($event)"></app-selection-menu>
  <app-selection-menu #categorySelectionMenu
                      (selectedItemSelected)="onCategoryItemSelected($event)"></app-selection-menu>

  <app-context-menu #exerciseMenu [menuItems]="exerciseMenuItems"></app-context-menu>

  <app-confirmation-modal
    #deleteExerciseConfirmationModal
    [header]="'Delete exercise?'"
    (confirmed)="onDeleteExerciseConfirmed($event)"
  ></app-confirmation-modal>

  <app-create-exercise-modal #createExerciseModal></app-create-exercise-modal>

</div>
