<div class="start-workout-container container black-color">
  <div class="start-workout-container-header">
    <app-header-button icon="left-arrow" class="not-visible"></app-header-button>
    <b class="l-text">Start workout</b>
    <app-header-button icon="two-dots"></app-header-button>
  </div>

  <div class="start-workout-container-body">

    <div class="workout-container" *ngIf="suggestedWorkoutTemplate">
      <div class="m-text semi-bold">Suggested workout</div>
      <app-workout-template-widget [workoutTemplate]="suggestedWorkoutTemplate"></app-workout-template-widget>
    </div>

    <div class="workout-container">
      <div class="workout-container-header m-text semi-bold">
        <div>Templates</div>
        <mat-icon svgIcon="add" class="primary add-template-icon" (click)="createTemplate()"></mat-icon>
      </div>

      <div class="workout-card blue-shadow primary-background-reversed" *ngFor="let template of workoutTemplates"
           @fadeInOut>
        <div class="workout-card-header">
          <div class="m-text semi-bold white-color">{{ template.title }}</div>
          <mat-icon svgIcon="two-dots" class="xs-svg-icon white-color clickable-xs-icon"
                    (click)="openTemplateMenu(template, $event)"></mat-icon>
        </div>
        <div class="workout-card-body s-text white-color">
          <div>
            <span *ngIf="template.exercises.length > 0">{{ template.exercises.length }} exercises | </span>
            <span *ngIf="template.totalSets > 0">{{ template.totalSets }} sets | </span>
            <span>{{ template.estimatedDuration + ' min'}}</span>
          </div>
          <div class="last-workout-time">
            <mat-icon svgIcon="clock" class="last-workout-time-icon"></mat-icon>
            <div class="caption"
                 *ngIf="template.lastPerformedWorkout">{{ template.lastPerformedWorkout.date | timeAgo }}
            </div>
            <div class="caption" *ngIf="!template.lastPerformedWorkout">New</div>
          </div>
        </div>
        <div class="workout-card-footer">
          <app-medium-button [classes]="['white-background', 'black-color']"
                             [textClasses]="['primary-background', 'primary-background-text', 'semi-bold']"
                             name="View details"
                             (click)="openWorkoutTemplateDetails(template)"></app-medium-button>
          <app-medium-button [classes]="['white-background', 'black-color']"
                             [textClasses]="['primary-background', 'primary-background-text', 'semi-bold']"
                             (click)="startWorkout(template)"
                             name="Start"></app-medium-button>
        </div>
      </div>
    </div>
  </div>

  <app-workout-template-details></app-workout-template-details>

  <app-ongoing-workout></app-ongoing-workout>

  <app-workout-template-edit #workoutTemplateEditComponent
                             (updatedTemplate)="onTemplateUpdated($event)"
                             (createdTemplate)="onTemplateCreated($event)"></app-workout-template-edit>

  <app-context-menu #templateMenu [menuItems]="templateMenuItems"></app-context-menu>
</div>
