.start-workout-container {
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;

  .start-workout-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: var(--m-size);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  .start-workout-container-body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    padding-bottom: 8rem;

    &::-webkit-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
      display: none;
    }

    .workout-container {
      margin-top: var(---size);
      margin-bottom: var(--l-size);

      .workout-container-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .workout-card {
        display: flex;
        flex-direction: column;
        margin-top: var(--m-size);
        padding: var(--m-size);
        border-radius: 20px;

        .workout-card-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
        }

        .workout-card-body {
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;

          .last-workout-time {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            width: 100%;
            margin-left: -5px;

            .last-workout-time-icon {
              scale: 0.59;
            }
          }
        }

        .workout-card-footer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: end;
          gap: var(--m-size);
          padding-top: var(--m-size);

          app-medium-button {
            width: 7.2rem;
          }
        }
      }
    }
  }
}


.add-template-icon {
  scale: 1.4;
  cursor: pointer;

  &:hover {
    scale: 1.23;
  }

  &:active {
    scale: 1.07;
  }
}
