<div class="start-workout-container container black-color">
  <div class="start-workout-container-header">
    <app-header-button icon="left-arrow" class="not-visible"></app-header-button>
    <b class="l-text">Start workout</b>
    <app-header-button icon="two-dots"></app-header-button>
  </div>

  <div class="workout-container" *ngIf="suggestedWorkoutTemplate">
    <div class="m-text semi-bold">Suggested workout</div>
    <div class="workout-card blue-shadow primary-background-reversed">
      <div class="workout-card-header">
        <div class="m-text semi-bold white-color">{{ suggestedWorkoutTemplate.title }}</div>
        <mat-icon svgIcon="two-dots" class="xs-svg-icon white-color"></mat-icon>
      </div>
      <div class="workout-card-body s-text white-color">
        <div>
          <span>{{ suggestedWorkoutTemplate.exercises.length }} exercises | {{ suggestedWorkoutTemplate.totalSets }}
            sets | {{ suggestedWorkoutTemplate.estimatedDuration }}</span>
        </div>
        <div class="last-workout-time">
          <mat-icon svgIcon="clock" class="last-workout-time-icon"></mat-icon>
          <div>{{ suggestedWorkoutTemplate.lastPerformedWorkout.date | timeAgo }}</div>
        </div>
      </div>
      <div class="workout-card-footer">
        <app-medium-button [classes]="['white-background', 'black-color']"
                           [textClasses]="['primary-background', 'primary-background-text', 'semi-bold']"
                           name="View details"
                           (click)="openWorkoutTemplateDetails(suggestedWorkoutTemplate)"></app-medium-button>
        <app-medium-button [classes]="['white-background', 'black-color']"
                           [textClasses]="['primary-background', 'primary-background-text', 'semi-bold']"
                           (click)="startWorkout(suggestedWorkoutTemplate)"
                           name="Start"></app-medium-button>
      </div>
    </div>
  </div>

  <div class="workout-container">
    <div class="workout-container-header m-text semi-bold">
      <div>Templates</div>
      <mat-icon svgIcon="add" class="black-color add-template-icon"></mat-icon>
    </div>
    <div class="workout-card blue-shadow primary-background-reversed" *ngFor="let template of workoutTemplates">
      <div class="workout-card-header">
        <div class="m-text semi-bold white-color">{{ template.title }}</div>
        <mat-icon svgIcon="two-dots" class="xs-svg-icon white-color"></mat-icon>
      </div>
      <div class="workout-card-body s-text white-color">
        <div>
          <span>{{ template.exercises.length }} exercises | {{ template.totalSets }}
            sets | {{ template.estimatedDuration }}</span>
        </div>
        <div class="last-workout-time">
          <mat-icon svgIcon="clock" class="last-workout-time-icon"></mat-icon>
          <div>{{ template.lastPerformedWorkout.date | timeAgo }}</div>
        </div>
      </div>
      <div class="workout-card-footer">
        <app-medium-button [classes]="['white-background', 'black-color']"
                           [textClasses]="['primary-background', 'primary-background-text', 'semi-bold']"
                           name="View details"
                           (click)="openWorkoutTemplateDetails(template)"></app-medium-button>
        <app-medium-button [classes]="['white-background', 'black-color']"
                           [textClasses]="['primary-background', 'primary-background-text', 'semi-bold']"
                           (click)="startWorkout(template)"
                           name="Start"></app-medium-button>
      </div>
    </div>
  </div>

  <app-workout-template-details></app-workout-template-details>
  <app-ongoing-workout></app-ongoing-workout>
</div>
