<div class="input-container m-text">
  <div class="icon-left-container">
    <mat-icon *ngIf="leftIcon"
              class="icon-left m-svg-icon"
              [ngClass]="{'gray-1-color': !hasInput, 'filled-icon': hasInput}"
              [svgIcon]="leftIcon"></mat-icon>
  </div>
  <input [type]="type" [placeholder]="placeholder"
         [disabled]="disable" [autocomplete]="autocomplete" [value]="value"
         [mask]="mask" [dropSpecialCharacters]="false"
         (input)="onInput($event)" [attr.inputmode]="type === 'number' ? 'numeric' : null">
  <mat-icon *ngIf="rightIcon" class="icon-right gray-1-color" [svgIcon]="rightIcon"
            (click)="onRightIconClick()"></mat-icon>
</div>
