.exercises-container {
  height: 100%;
  width: 100%;
  max-width: 1024px;
  padding-top: var(--l-size);
  padding-left: var(--l-size);
  padding-right: var(--l-size);
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .exercises-search-section {

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 0.6rem;
      border-radius: 16px;
      padding: var(--s-size) var(--m-size);
      margin-bottom: var(--m-size);

      input {
        width: 100%;
        border: none;
        border-right: 1px solid var(--gray-3);
        outline: none;

        font-size: 12px;
        font-family: 'Poppins', sans-serif;
        color: var(--gray-1);
      }

      input::placeholder {
        color: var(--gray-2);
      }
    }

    .search-options {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: var(--m-size);

      .search-option {
        padding: 0.5rem 1rem;
        background-color: white;
        border-radius: 16px;
        width: 100%;
        text-align: center;
      }

      .search-option-active {
        color: var(--primary-1);
        font-weight: 550;
      }
    }
  }

  .exercises-container-body {
    margin-top: var(--m-size);
    padding-bottom: var(--l-size);
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 0;
    }

    .exercise {
      display: flex;
      gap: 0.5rem;
      padding-bottom: var(--m-size);
      width: 100%;
      cursor: pointer;

      .exercise-header {

        .exercise-image {
          height: 3.75rem;
          width: 3.75rem;
          border-radius: 16px;
        }
      }

      .exercise-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;

        .upper-section {
          width: 100%;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          justify-content: space-between;
        }

        .lower-section {
          width: 100%;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          justify-content: space-between;
        }

        .pr-set {
          display: flex;
          align-items: center;

          .pr-set-icon {
            scale: 0.56;
          }
        }
      }
    }
  }

  .body-top-padding-when-search-open {
    margin-top: var(--s-size);
  }

  .add-icon-container {

    .add-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.3rem;
      border-radius: 6px;
      background-color: var(--border);
    }

    .active-add-icon {
      background-color: var(--primary-1);
      color: white;
      animation: completed var(--animation-duration) ease;
    }
  }
}
