.workout-history-container {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;

  .workout-history-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  .workout-history-container-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .carrousel-view {
      padding-left: var(--container-padding);
      padding-right: var(--container-padding);

      .month-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        gap: 1rem;

        span {
          width: 9rem;
          text-align: center;
        }
      }

      .date-carousel-container {
        overflow: hidden;
        width: 100%;

        .date-carousel {
          display: flex;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          -webkit-overflow-scrolling: touch;
          scrollbar-width: none;
          -ms-overflow-style: none;
          padding: 0 calc(50% - 30px);

          &::-webkit-scrollbar {
            -ms-overflow-style: none;
            scrollbar-width: none;
            display: none;
          }

          .date-item {
            flex: 0 0 auto;
            width: 50px;
            height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            scroll-snap-align: center;
            cursor: pointer;
            border-radius: 10px;

            &.active {
              background-image: linear-gradient(274deg, var(--primary-1) 0%, var(--primary-2) 100%);
              color: white;
              transition: background-image 0.3s ease;
            }
          }
        }
      }
    }

    .list-view {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;

      .workouts-search-section {
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);

        .search {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          border-radius: 16px;
          padding: var(--s-size) var(--m-size);
          margin-bottom: var(--m-size);

          input {
            width: 100%;
            border: none;
            border-right: 1px solid var(--gray-3);
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            outline: none;

            font-size: var(--input-font-size);
            font-family: 'Poppins', sans-serif;
            color: var(--gray-1);
          }

          input::placeholder {
            color: var(--gray-2);
          }
        }

        .search-options {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: var(--m-size);

          .search-option {
            padding: 0.5rem 1rem;
            background-color: white;
            border-radius: 16px;
            width: 100%;
            text-align: center;
          }

          .search-option-active {
            color: var(--primary-1);
            font-weight: 550;
          }
        }
      }

      .workout-history-list-body {
        flex: 1;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
        padding-bottom: 8rem;

        &::-webkit-scrollbar {
          -ms-overflow-style: none;
          scrollbar-width: none;
          display: none;
        }

        .month-year-header {
          color: var(--primary-1);

          &:not(:first-child) {
            padding-top: var(--m-size);
          }
        }
      }
    }

  }
}
