.workout-history-container {

  .workout-history-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .workout-history-container-body {
    padding-top: var(--l-size);
    padding-bottom: var(--l-size);

    .carrousel-view {
      .month-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        gap: 1rem;
      }

      .date-carousel-container {
        overflow: hidden;
        width: 100%;

        .date-carousel {
          display: flex;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          -webkit-overflow-scrolling: touch;
          scrollbar-width: none;
          -ms-overflow-style: none;
          padding: 0 calc(50% - 30px);

          &::-webkit-scrollbar {
            display: none;
          }

          .date-item {
            flex: 0 0 auto;
            width: 50px;
            height: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            scroll-snap-align: center;
            cursor: pointer;
            border-radius: 10px;

            &.active {
              background-image: linear-gradient(274deg, var(--primary-1) 0%, var(--primary-2) 100%);
              color: white;
              transition: background-image 0.3s ease;
            }
          }
        }
      }


    }

  }
}
