.social-button {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  border: 3px solid var(--border);
  box-shadow: 0 10px 40px rgba(29, 22, 23, 0.08);

  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    scale: 1.1;
  }

  &:active {
    scale: 0.9;
  }

  .icon {
    scale: 1;
  }
}
