<div class="page-mask" *ngIf="isOpen"></div>
<div class="ongoing-workout-container right-modal black-color" *ngIf="isOpen">

  <div class="ongoing-workout-container-header">
    <app-header-button icon="close" (click)="stopWorkout()"></app-header-button>
    <div class="timer l-text gray-1-color">00:00</div>
    <app-header-button icon="finish" [active]="progress == 1" (click)="finishWorkout()"></app-header-button>
  </div>
  <app-progress-bar [progress]=progress class="card-padding-top"></app-progress-bar>

  <div class="ongoing-workout-container-body section-padding-top">
    <div class="ongoing-workout-header">
      <div class="l-text semi-bold">Back + Biceps</div>
      <mat-icon svgIcon="two-dots" class="xs-svg-icon clickable-xs-icon" (click)="openWorkoutMenu($event)"></mat-icon>
    </div>

    <div class="ongoing-workout-info">
      <div class="tags s-text card-padding-top">
        <div class="tag">Beginner</div>
        <div class="tag">+</div>
      </div>
    </div>

    <div class="section-margin-top exercises"
         cdkDropList cdkDropListAutoScroll
         (cdkDropListDropped)="drop($event)">
      <div class="exercise"
           *ngFor="let exercise of workoutTemplate.exercises"
           (cdkDragEnded)="onDragEnded()"
           [cdkDragDisabled]="!dragStarted"
           cdkDrag
           cdkDragLockAxis="y"
           cdkDragBoundary=".exercises">
        <div class="exercise-info" cdkDragHandle [class.exercise-info-draggable]="dragStarted">
          <div class="exercise-header">
            <div class="exercise-image secondary-background"></div>
          </div>
          <div class="exercise-body">
            <div class="upper-section">
              <div class="m-text semi-bold">{{ exercise.name }}</div>
              <mat-icon *ngIf="deleteSetModeForExercise !== exercise"
                        svgIcon="two-dots" class="xs-svg-icon clickable-xs-icon gray-1-color"
                        (click)="openExerciseMenu($event, exercise)"></mat-icon>
              <mat-icon *ngIf="deleteSetModeForExercise === exercise"
                        svgIcon="undo" class="m-svg-icon clickable-m-icon primary"
                        (click)="resetDelete()"></mat-icon>
            </div>
            <div class=" lower-section gray-1-color s-text">
              <div>{{ exercise.bodyPart }} | {{ exercise.category }}</div>
              <div class="pr-set">
                <mat-icon svgIcon="cup" class="pr-set-icon"></mat-icon>
                <div>
                  {{ exercise.prSet.weight }} kg * {{ exercise.prSet.reps }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="exercise-sets s-text" *ngIf="!dragStarted" [@collapse] [@.disabled]="!setsAnimationEnabled">
          <div class="table-row semi-bold">
            <div class="table-cell set">Set</div>
            <div class="table-cell previous">Previous</div>
            <div class="table-cell kg">Kg</div>
            <div class="table-cell reps">Reps</div>
            <div class="table-cell action">
              <mat-icon *ngIf="deleteSetModeForExercise !== exercise" svgIcon="check" class="s-svg-icon"></mat-icon>
            </div>

          </div>
          <div class="table-row" *ngFor="let set of exercise.sets; index as i">
            <div class="table-cell set" [class.completed-table-cell]="set.completed">
              <div class="set-sell">{{ i + 1 }}</div>
            </div>
            <div class="table-cell previous" [class.completed-table-cell]="set.completed">
              <span *ngIf="set.previousReps">{{ set.previousWeight ? set.previousWeight : '0' }}
                kg * {{ set.previousReps }}</span>
              <span *ngIf="!set.previousReps">-</span>
            </div>
            <div class="table-cell kg">
              <input type="number" [class.complete-set-input]="set.completed"
                     [placeholder]="set.previousWeight ? set.previousWeight : 0">
            </div>
            <div class="table-cell reps">
              <input type="number" [class.complete-set-input]="set.completed"
                     [placeholder]="set.previousReps ? set.previousReps : 0">
            </div>
            <div class="table-cell action">
              <div *ngIf="deleteSetModeForExercise !== exercise" class="clickable action-icon-container">
                <mat-icon svgIcon="check" class="gray-1-color action-icon"
                          [class.complete-set-action-icon]="set.completed" (click)="completeSet(set)"></mat-icon>
              </div>
              <div *ngIf="deleteSetModeForExercise === exercise" class="clickable action-icon-container">
                <mat-icon svgIcon="delete-2" class="gray-1-color action-icon delete-icon"
                          (click)="deleteSet(set, i, exercise)"></mat-icon>
              </div>
            </div>
          </div>
          <div class="add-new-set semi-bold" (click)="addSet(exercise)">Add set</div>
        </div>
      </div>

      <div class="add-new-exercise m-text semi-bold primary-background">Add exercise</div>
    </div>
  </div>

  <app-context-menu #workoutMenu [menuItems]="workoutMenuItems"></app-context-menu>
  <app-context-menu #exerciseMenu [menuItems]="exerciseMenuItems"></app-context-menu>

  <app-confirmation-modal
    #deleteConfirmationModal
    [message]="'Are you sure?'"
    (confirmed)="onDeleteSetConfirmed($event)"
  ></app-confirmation-modal>
</div>
